body {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 150px;
  background-color: rgb(212, 215, 216);
}

#image {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.buttonON {
  margin: 50px auto;
  width: 250px;
}

button {
  cursor: pointer;
}

